table.table thead .sorting_desc:before {
    content: "\2193";
    padding-right: 5px;
}

table.table thead .sorting_asc:before {
    content: "\2191";
    padding-right: 5px;
}

.table-outline {
    border: 1px solid $table-border-color;

    td {
        vertical-align: middle;
    }
}

.table-align-middle {
    td {
        vertical-align: middle;
    }
}

.table-clear {
    td {
        border: 0;
    }
}