//Core overrides

$enable-sidebar-nav-rounded: false;
$border-color: $gray-300;
$layout-transition-speed: .25s;
$logo-width: 110px;

//Navbar
$navbar-height: 55px;
$navbar-bg: #FFF;
$navbar-border: (
    bottom: (
        size: 1px,
        style: solid,
        color: $border-color
    )
);
$navbar-brand-width: 200px;
$navbar-brand-bg: #FFF;
$navbar-brand-logo: url('../img/logo.png');
$navbar-brand-logo-size: 80% auto;
$navbar-brand-logo-size-mobile: auto 50%;
$navbar-brand-border: (
    bottom: (
        size: 1px,
        style: solid,
        color: $border-color
    )
);

$navbar-color: $gray-light;
$navbar-hover-color: darken($navbar-color, 10%);
$navbar-active-color: darken($navbar-color, 20%);
$navbar-disabled-color: lighten($navbar-color, 20%);

//Sidebar
$sidebar-width: 250px;
$mobile-sidebar-width: 250px;
$sidebar-padding: 0;
$sidebar-compact-width: 50px;
$sidebar-compact-height: $sidebar-compact-width;
$sidebar-color: #FFF;
$sidebar-bg: $gray-dark;
$sidebar-header-bg: rgba(0, 0, 0, .2);
$sidebar-footer-bg: rgba(0, 0, 0, .2);
$sidebar-borders: none;

//Sidebar Navigation
$sidebar-nav-color: #FFF;
$sidebar-nav-title-padding-y: .75rem;
$sidebar-nav-title-padding-x: 1rem;
$sidebar-nav-title-color: $text-muted;
$sidebar-nav-link-padding-y: .75rem;
$sidebar-nav-link-padding-x: 1rem;
$sidebar-nav-link-color: #FFF;
$sidebar-nav-link-bg: transparent;
$sidebar-nav-link-icon-color: $text-muted;
$sidebar-nav-link-borders: 0;
$sidebar-nav-link-hover-color: #FFF;
$sidebar-nav-link-hover-bg: darken($sidebar-bg, 5%);
$sidebar-nav-link-hover-icon-color: #FFF !important;
$sidebar-nav-link-hover-borders: 0;
$sidebar-nav-link-active-color: #FFF;
$sidebar-nav-link-active-bg: darken($sidebar-bg, 5%);
$sidebar-nav-link-active-icon-color: $brand-primary;
$sidebar-nav-link-active-borders: 0;
$sidebar-nav-dropdown-color: #FFF;
$sidebar-nav-dropdown-bg: darken($sidebar-bg, 3%);
$sidebar-nav-dropdown-borders: 0;

//Top Navigation
$top-nav-bg: #FFF;
$top-nav-color: $body-color;
$top-nav-borders: (
    bottom: (
        size: 1px,
        style: solid,
        color: $border-color
    )
);
$top-nav-ul-borders: (
    all: (
        size: 1px,
        style: solid,
        color: $border-color
    )
);
$top-nav-hover-color: #FFF;
$top-nav-hover-bg: $brand-primary;
$top-nav-active-color: #FFF;
$top-nav-active-bg: $brand-primary;
$top-nav-height: $navbar-height - 15px;

//Breadcrumb
$breadcrumb-borders: 0;

//Aside
$aside-menu-width: 270px;
$aside-menu-color: $gray-dark;
$aside-menu-bg: #FFF;
$aside-menu-borders: (
    left: (
        size: 1px,
        style: solid,
        color: $border-color
    )
);
$aside-menu-nav-padding-y: .75rem;
$aside-menu-nav-padding-x: 1rem;

//Footer
$footer-height: 50px;
$footer-bg: $gray-lightest;
$footer-color: $body-color;
$footer-borders: (
    top: (
        size: 1px,
        style: solid,
        color: $border-color
    )
);

// Cards
$card-icon-bg: transparent;
$card-icon-color: $body-color;